<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 整合dubbo -->
	<dubbo:application name="SSOWEB" />
	<dubbo:registry address="zookeeper://127.0.0.1:2181" check="false" />

	<!-- 在创建一个对象 -->
	<!-- PRC调用 ，创建一个远程调用的对象 -->
	<dubbo:reference id="UserService" interface="edu.hhu.service.UserService"
		url="dubbo://127.0.0.1:20881" check="false" timeout="60000" />
	<dubbo:reference id="RedisService" interface="edu.hhu.service.RedisService"
		url="dubbo://127.0.0.1:20881" check="false" timeout="60000" />
</beans>
